In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
dataset  = pd.read_csv('Train/Train.csv')

In [3]:
dataset.shape

(40000, 2)

In [4]:
dataset.head()

                                              review label
0  mature intelligent and highly charged melodram...   pos
1  http://video.google.com/videoplay?docid=211772...   pos
2  Title: Opera (1987) Director: Dario Argento Ca...   pos
3  I think a lot of people just wrote this off as...   pos
4  This is a story of two dogs and a cat looking ...   pos

In [5]:
dataset['label'].value_counts()

pos    20011
neg    19989
Name: label, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
y = dataset['label'].values

In [8]:
y

array(['pos', 'pos', 'pos', ..., 'neg', 'pos', 'pos'], dtype=object)

In [9]:
y = le.fit_transform(y)

In [10]:
y[:100]

array([1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0])

In [11]:
dataset['review'][11]

'Robert Jordan is a television star. Robert Jordan likes things orderly, on time and properly executed. In his world children are to be seen, not heard. So why would Mr. Jordan want to become the master of a rambunctious band of Boy Scouts? Ratings. His staff figures that if learns how to interact with the youth, they will be more inclined to watch his show. Of course watching Jordan cope comprises most of the fun.<br /><br />Like Mr. Belvedere and Mr. Belvedere Goes to College this one is sure to please.<br /><br />ANYONE INTERESTED IN OBTAINING A COPY OF THIS FILM PLEASE WRITE TO ME AT: IAMASEAL2@YAHOO.COM'

In [22]:
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords 
from nltk.stem import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [23]:
sw = set(stopwords.words('english'))
ps = PorterStemmer()

In [24]:
ps.stem("jumping")

'jump'

In [25]:
import re

In [28]:
def clean_text(sample):
    sample = sample.lower()
    sample = sample.replace("<br /><br />","")
    sample = re.sub("[^a-zA-Z]+"," ",sample)
    
    sample = sample.split()
    
    #List Comprehension 
    sample = [ps.stem(s) for  s in sample if s  not in sw]
    
    sample = " ".join(sample)
    
    return sample

In [27]:
clean_text(dataset['review'][11])

['robert',
 'jordan',
 'televis',
 'star',
 'robert',
 'jordan',
 'like',
 'thing',
 'orderli',
 'time',
 'properli',
 'execut',
 'world',
 'children',
 'seen',
 'heard',
 'would',
 'mr',
 'jordan',
 'want',
 'becom',
 'master',
 'rambuncti',
 'band',
 'boy',
 'scout',
 'rate',
 'staff',
 'figur',
 'learn',
 'interact',
 'youth',
 'inclin',
 'watch',
 'show',
 'cours',
 'watch',
 'jordan',
 'cope',
 'compris',
 'fun',
 'like',
 'mr',
 'belveder',
 'mr',
 'belveder',
 'goe',
 'colleg',
 'one',
 'sure',
 'pleas',
 'anyon',
 'interest',
 'obtain',
 'copi',
 'film',
 'pleas',
 'write',
 'iamas',
 'yahoo',
 'com']

In [31]:
dataset['cleaned_review'] = dataset['review'].apply(clean_text)

,review,label,cleaned_review
0,mature intelligent and highly charged melodram...,pos,matur intellig highli charg melodrama unbelive...
1,http://video.google.com/videoplay?docid=211772...,pos,http video googl com videoplay docid hl en dis...
2,Title: Opera (1987) Director: Dario Argento Ca...,pos,titl opera director dario argento cast cristin...
3,I think a lot of people just wrote this off as...,pos,think lot peopl wrote anoth one tom cruis weir...
4,This is a story of two dogs and a cat looking ...,pos,stori two dog cat look way back home old wise ...
...,...,...,...
39995,There are similarities between Ray Lawrence's ...,neg,similar ray lawrenc jindabyn last movi lantana...
39996,"For starters, I once met the director when he ...",neg,starter met director go ww enact period movi c...
39997,"Much of ""Over Her Dead Body"" is so painfully u...",neg,much dead bodi pain unfunni actual squirm seat...
39998,"""Lifeforce"" is a truly bizarre adaptation of t...",pos,lifeforc truli bizarr adapt novel space vampir...
39999,I saw this movie at a screener and its the bes...,pos,saw movi screener best movi seen loooong time ...

In [33]:
corpus = dataset['cleaned_review'].values

In [34]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

In [35]:
cv = CountVectorizer(max_df= 0.5,max_features=50000)

In [40]:
X = cv.fit_transform(corpus)

In [42]:
print(X[0])

  (0, 25164)	1
  (0, 20844)	1
  (0, 19380)	1
  (0, 5614)	1
  (0, 25586)	1
  (0, 44630)	1
  (0, 5865)	1
  (0, 47635)	2
  (0, 39858)	2
  (0, 29479)	1
  (0, 24065)	1
  (0, 43631)	1
  (0, 36914)	1
  (0, 35377)	1
  (0, 24500)	1
  (0, 41060)	1

In [43]:
tfidf = TfidfTransformer()

In [44]:
X = tfidf.fit_transform(X)

In [45]:
X.shape

(40000, 50000)

In [46]:
y.shape

(40000,)

## Neural Network Model

In [69]:
#import tensorflow as tf
#from tensorflow import keras
#from tensorflow.keras import layers
from keras import models   
from keras.layers import Dense

In [70]:
model = models.Sequential()
model.add(Dense(16,activation="relu",input_shape = (X.shape[1], )))
model.add(Dense(16,activation="relu") )
model.add( Dense(1, activation="sigmoid") )

In [71]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 16)                800016

 dense_10 (Dense)            (None, 16)                272

 dense_11 (Dense)            (None, 1)                 17

=================================================================
Total params: 800,305
Trainable params: 800,305
Non-trainable params: 0
_________________________________________________________________

In [72]:
model.compile(optimizer='rmsprop',loss = "binary_crossentropy",metrics=['accuracy'])

In [73]:
x_val = X[:5000]
x_train = X[5000:]

y_val = y[:5000]
y_train = y[5000:]

In [74]:
x_train.shape,y_train.shape

((35000, 50000), (35000,))

In [80]:
#x_train = tf.sparse.reorder(x_train)
#y_train = tf.sparse.reorder(y_train) 
#x_val = tf.sparse.reorder(x_val)
#y_val = tf.sparse.reorder(y_val)

In [82]:
hist = model.fit(x_train,y_train,batch_size=128 , epochs=5,validation_data=(x_val,y_val))

InvalidArgumentError: {{function_node __wrapped__SerializeManySparse_device_/job:localhost/replica:0/task:0/device:CPU:0}} indices[1] = [0,48799] is out of order. Many sparse ops require sorted indices.
    Use `tf.sparse.reorder` to create a correctly ordered copy.

 [Op:SerializeManySparse]